<div class="list-group s_lst">
  <a href="/users/dashboard" class="list-group-item">Dashboard</a>
  <a href="/users/academics" class="list-group-item" style="background-color: white; color: black">Academics</a>
  <a href="/users/calender" class="list-group-item">Calender</a>
  <a href="/users/class_schedule" class="list-group-item">Class Schedule</a>
  <a href="/users/examination" class="list-group-item">Examination</a>
  <a href="/users/assignments" class="list-group-item">Assignments</a>
  <a href="/users/library" class="list-group-item">Library</a>
  <a href="/users/attendance" class="list-group-item">Attendance</a>
  <a href="/users/fee_details" class="list-group-item">Fee Details</a>
  <a href="/users/notice" class="list-group-item">Notice</a>
  <a href="/users/news_events" class="list-group-item">News & Events</a>
</div>

	<div class="academics">
		<h1>Academics:</h1>
		<ul>
			<li><a href="#">Semester 1</a></li>
			<li><a href="#">Semester 2</a></li>
			<li><a href="#">Semester 3</a></li>
			<li><a href="#">Semester 4</a></li>
			<li><a href="#">Semester 5</a></li>
			<li><a href="#">Semester 6</a></li>
			<li><a href="#">Semester 7</a></li>
			<li><a href="#">Semester 8</a></li>
		</ul>
		<hr>
		<h2>Current Semester:</h2>
		<table>
			<tr>
				<th>CAT - 1</th>
				<th>CAT - 2</th>
				<th>Model</th>
				<th>Final</th>
			</tr>
			<tr>
				<td>20</td>
				<td>20</td>
				<td>80</td>
				<td>85</td>
			</tr>
		</table>
</div>
	

