<div class="list-group s_lst">
  <a href="/users/dashboard" class="list-group-item">Dashboard</a>
  <a href="/users/academics" class="list-group-item">Academics</a>
  <a href="/users/calender" class="list-group-item">Calender</a>
  <a href="/users/class_schedule" class="list-group-item"  style="background-color: white; color: black">Class Schedule</a>
  <a href="/users/examination" class="list-group-item">Examination</a>
  <a href="/users/assignments" class="list-group-item">Assignments</a>
  <a href="/users/library" class="list-group-item">Library</a>
  <a href="/users/attendance" class="list-group-item">Attendance</a>
  <a href="/users/fee_details" class="list-group-item">Fee Details</a>
  <a href="/users/notice" class="list-group-item">Notice</a>
  <a href="/users/news_events" class="list-group-item">News & Events</a>
</div>
<div class="my_ti">
  <h2>Class Schedule:</h2>
</div>