<div class="list-group s_lst">
  <a href="/users/dashboard" class="list-group-item" style="background-color: white; color: black">Dashboard</a>
  <a href="/users/academics" class="list-group-item">Academics</a>
  <a href="/users/calender" class="list-group-item">Calender</a>
  <a href="/users/class_schedule" class="list-group-item">Class Schedule</a>
  <a href="/users/examination" class="list-group-item">Examination</a>
  <a href="/users/assignments" class="list-group-item">Assignments</a>
  <a href="/users/library" class="list-group-item">Library</a>
  <a href="/users/attendance" class="list-group-item">Attendance</a>
  <a href="/users/fee_details" class="list-group-item">Fee Details</a>
  <a href="/users/notice" class="list-group-item">Notice</a>
  <a href="/users/news_events" class="list-group-item">News & Events</a>
</div>
<div class="board">
		<div class="sum_lst">
			<h2 style="text-decoration: underline; font-weight: bold; margin: 0; margin-left: 20px;">Dashboard:</h2>
			<div class="rows">
				<a href="">
					<div class="c1" style="background-color: #1E90FF">
						<h2>4</h2>
						<h5>Notification</h5>
					</div>
				</a>
				<a href="#">
					<div class="c1" style="background-color: #008000">
						<h2>2</h2>
						<h5>News & Events</h5>
					</div>
				</a>
			</div>
			<div class="rows">
				<a href="#">
					<div class="c1" style="background-color: #FF8C00">
						<h2>3</h2>
						<h5>Assignments</h5>
					</div>
				</a>
				<a href="#">
					<div class="c1" style="background-color: #778899">
						<h2>1</h2>
						<h5>Examination</h5>
					</div>
				</a>
			</div>
		</div>
		<div class="stu_details">
			<h2 style="text-decoration: underline; font-weight: bold; ">Student Details: </h2>
			<ul class="stu_list">
				<li>Student Name: Ram </li>
				<li>Registration Number: 1001</li>
				<li>Course: Btech </li>
				<li>Department: CSE</li>
				<li>Email: ram@gmail.com</li>
				<li>Mobile No.: 1234567890</li>
				<li>Address: Chennai</li>
				<li>Blood Group: O+ </li>
				<li>Student Name: Ram </li>
				<li>Registration Number: 1001</li>
				<li>Course: Btech </li>
				<li>Department: CSE</li>
				<li>Email: ram@gmail.com</li>
				<li>Mobile No.: 1234567890</li>
				<li>Address: Chennai</li>
				<li>Blood Group: O+ </li>
			</ul>
			<div class="p_pic">
				<img src="https://iimk.ac.in/faculty/profile/Photo/ram.jpg" class="pic">
			</div>
		</div>	
</div>
<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQZWSe-b3Ti0EYzWp8byufx3CJSSZFThMDEqu0HJaRQmA1c0TU-->