
<img src="http://4.bp.blogspot.com/-6jeBZB5jmQA/VP1_oGJlOMI/AAAAAAAAAOY/jWxzWWsN0rY/s1600/can_moocs_democratize_higher_education.jpg" class="p_img">

<h1 style="text-align: center; color: orange; margin-top: 180px; font-size: 50px;">WELCOME TO STUDENTS INFORMATION MANAGEMENT SYSTEM!!!</h1>
<div class="p_but">
	<a href="/users/login"><button type="button" class="btn btn-info">Log In</button></a>
	<a href="/users/register"><button type="button" class="btn btn-success">Register</button></a>
</div>